:root {
  --s_background: #ffffff;
  --s_foreground: #000000;

  --s_primary: #171717;
  --s_primary-foreground: #232323;
  --s_secondary: #f4f4f5;

  --s_accent: #0372f3;
  --s_accent-light: #d5e0ff;

  --s_border: #dfdfe3;

  --s_text-primary: #000000;
  --s_text-secondary: #71717a;
  --s_text-complementary: #ffffff;

  --s_success: #34d399;
  --s_alert: #ffe629;
  --s_error: rgb(255, 35, 35);
}

.darkComponent {
  --s_background: #000000;
  --s_foreground: #ffffff;

  --s_primary: #ffffff;
  --s_primary-foreground: #a4a4a4;
  --s_secondary: #212121;

  --s_accent: #0ea5e9;
  --s_accent-light: #0044ff41;

  --s_border: #505050;

  --s_text-primary: #f0f0f0;
  --s_text-secondary: #969696;
  --s_text-complementary: #000000;
}
