@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  :root {
    --radius: 0.5rem;

    --background: theme(colors.white);
    --foreground: theme(colors.black);

    --primary: #171717;
    --primary-foreground: #theme(colors.neutral.800);

    --secondary: theme(colors.neutral.200);
    --secondary-foreground: theme(colors.neutral.500);

    --accent: theme(colors.blue.600);
    --accent-foreground: theme(colors.white);
    --accent-secondary: theme(colors.blue.400);
    --accent-secondary-foreground: theme(colors.white);

    --outline: theme(colors.neutral.800);
    --outline-secondary: theme(colors.neutral.500);

    --success: theme(colors.green.500);
    --success-secondary: theme(colors.green.400);
    --success-foreground: theme(colors.white);

    --alert: #ffe629;
    --alert-secondary: theme(colors.yellow.400);
    --alert-foreground: theme(colors.white);

    --error: theme(colors.red.500);
    --error-secondary: theme(colors.red.400);
    --error-foreground: theme(colors.white);

    --muted: theme(colors.neutral.600);
    --muted-secondary: theme(colors.neutral.200);
    --muted-foreground: theme(colors.neutral.200);
  }

  .dark {
    --background: theme(colors.black);
    --foreground: theme(colors.white);

    --primary: #171717;
    --primary-foreground: #e6e6e6;

    --secondary: theme(colors.neutral.200);
    --secondary-foreground: theme(colors.neutral.500);

    --accent: theme(colors.blue.600);
    --accent-foreground: theme(colors.white);
    --accent-secondary: theme(colors.blue.400);
    --accent-secondary-foreground: theme(colors.white);

    --outline: theme(colors.neutral.700);
    --outline-secondary: theme(colors.neutral.800);

    --success: theme(colors.green.800);
    --success-secondary: theme(colors.green.600);
    --success-foreground: theme(colors.white);

    --alert: #ffe629;
    --alert-secondary: theme(colors.yellow.400);
    --alert-foreground: theme(colors.white);

    --error: theme(colors.red.600);
    --error-secondary: theme(colors.red.400);
    --error-foreground: theme(colors.white);

    --muted: theme(colors.neutral.300);
    --muted-secondary: theme(colors.neutral.800);
    --muted-foreground: theme(colors.neutral.700);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  /* FOR HOPEPAGE */
  .HomepageEffect {
    --container-border-initial: theme(colors.neutral.400/00);
    --container-border-active: theme(colors.sky.700);
    --container-gradient-color: theme(colors.sky.600/70);
    --container-border-size: 0.25rem;
    --container-background: theme(colors.white);
    --size: 300px;
  }
  .dark .HomepageEffect {
    --container-border-initial: theme(colors.neutral.900/00);
    --container-border-active: theme(colors.white/30);
    --container-gradient-color: theme(colors.neutral.500/10);
    --container-background: theme(colors.black);
  }

  /* FOR @packages/primitives/containers/Container_3_Helper.tsx */

  .ContainerEffect {
    --container-border-initial: theme(colors.neutral.400);
    --container-border-active: theme(colors.neutral.900);
    --container-gradient-color: theme(colors.neutral.600/70);
    --container-border-size: 4px;
    --container-background: theme(colors.neutral.100);
  }
  .dark .ContainerEffect {
    --container-border-initial: theme(colors.neutral.800);
    --container-border-active: theme(colors.white/80);
    --container-gradient-color: theme(colors.neutral.100/70);
    --container-border-size: 4px;
    --container-background: theme(colors.neutral.900);
  }
}

.scrollbar-vertical::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}
.scrollbar-vertical::-webkit-scrollbar-thumb {
  background-color: var(--primary-foreground); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

.scrollbar-horizontal::-webkit-scrollbar {
  height: 6px; /* width of the entire scrollbar */
}
.scrollbar-horizontal::-webkit-scrollbar-thumb {
  background-color: var(--primary-foreground); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

/* SHIKI */
.with-counter .shiki {
  counter-reset: step;
  counter-increment: step 0;
}

.shiki .line {
  @apply border-l-4 border-transparent;
}

.with-counter .shiki .line::before {
  counter-increment: step;
  @apply mr-6 inline-block w-4 border-transparent text-right text-neutral-600 content-[counter(step)];
}

.shiki .line.highlighted,
.shiki .line.diff {
  @apply -ml-4 -mr-5 inline-block w-[calc(100%+(theme(spacing.5)+theme(spacing.4)))] pl-4 pr-5;
}

.shiki .line.highlighted {
  @apply border-neutral-500 bg-neutral-800;
}

.shiki .line.diff.add {
  @apply border-blue-500 bg-blue-500/25 before:text-blue-500;
}

.shiki .line.diff.add span:first-child::before {
  @apply -ml-4 inline-flex w-4 text-blue-500 content-["+"];
}

.shiki .line.diff.remove {
  @apply border-orange-500 bg-orange-500/30 opacity-70 *:!text-neutral-400 before:text-orange-500;
}

.shiki .line.diff.remove span:first-child::before {
  @apply -ml-4 inline-flex w-4 text-orange-500 content-["-"];
}

.dark .shiki,
.dark .shiki span {
  color: var(--shiki-dark) !important;
  /* background-color: var(--shiki-dark-bg) !important; */
  /* Optional, if you also want font styles */
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}
.shiki::-webkit-scrollbar {
  height: 6px; /* width of the entire scrollbar */
}
.shiki::-webkit-scrollbar-thumb {
  background-color: var(--primary-foreground); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}
