/* SHIKI */
.with-counter .shiki {
  counter-reset: step;
  counter-increment: step 0;
}

.shiki .line {
  @apply border-l-4 border-transparent;
}

.with-counter .shiki .line::before {
  counter-increment: step;
  @apply mr-6 inline-block w-4 border-transparent text-right text-neutral-600 content-[counter(step)];
}

.shiki .line.highlighted,
.shiki .line.diff {
  @apply -ml-4 -mr-5 inline-block w-[calc(100%+(theme(spacing.5)+theme(spacing.4)))] pl-4 pr-5;
}

.shiki .line.highlighted {
  @apply border-neutral-500 bg-neutral-800;
}

.shiki .line.diff.add {
  @apply border-blue-500 bg-blue-500/25 before:text-blue-500;
}

.shiki .line.diff.add span:first-child::before {
  @apply -ml-4 inline-flex w-4 text-blue-500 content-["+"];
}

.shiki .line.diff.remove {
  @apply border-orange-500 bg-orange-500/30 opacity-70 *:!text-neutral-400 before:text-orange-500;
}

.shiki .line.diff.remove span:first-child::before {
  @apply -ml-4 inline-flex w-4 text-orange-500 content-["-"];
}

.dark .shiki,
.dark .shiki span {
  color: var(--shiki-dark) !important;
  /* background-color: var(--shiki-dark-bg) !important; */
  /* Optional, if you also want font styles */
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}
.shiki::-webkit-scrollbar {
  height: 6px; /* width of the entire scrollbar */
}
.shiki::-webkit-scrollbar-thumb {
  background-color: var(--primary-foreground); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}
